*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.forminput input{
    width: 250px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500px;
    border-radius: 4px;
}

#textbox{
    margin-bottom: 15px;
}

#submit{
    background-color: lavender;
}

#submit:hover{
    background: linear-gradient(154deg, indigo, blue, green, yellow, orange, red);
}